html
    head
        Title= "Form response using template"
    body
        User= "Username: " + user
        | #[br]
        Password= "Password: " + password
        | #[br]
        Email= "Email: " + email
